%br
%a{:name =>"TOP"}
%div{:class =>"homeImg"}
  %a{:href =>"/"}
    %img{:src => "/img/home.png"}
%div{:class => "movieInfo"}
  .singlePhoto
    %a{:href => @movie_by_id.movie_url,:target=>"_blank"}
      %img{:src => @movie_by_id.img_url}
  .movieDetails
    %p
      %span{:class => "heading"} Title:
      %span{:class => "info"}  #{@movie_by_id.movie_name}
    %p
      %span{:class => "heading"} Cast:
      %span{:class => "info"}  #{@movie_cast}
    %p

%br
%br
%br
-@tweets.each do |tweet|
  .tweetInfo
    .tweetImage
      %a{:href=>"http://twitter.com/#{tweet.from_user}" ,:target =>"_blank"}
        %img{:src => tweet.profile_image_url}
    .tweetText
      %p
        %a{:href => "http://twitter.com/#{tweet.from_user}" ,:target =>"_blank",:class =>"twitterProfileLink" }  #{tweet.from_user}
        %span{:class => "tweetContent"} #{tweet.text}  
  %br
  %br
%a{:href =>"#TOP",:class =>"twitterProfileLink"}
  %span{:style=>'margin-left:27.5%'} TOP
